.textholder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bgtext {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em; 
  line-height: 3; 
  /* color: #EFEFEF; */
  color: white;
  opacity: 0.1;
  text-shadow: 2px 2px 4px rgb(83, 190, 99);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
}

#flashlight
{
     --Xpos: 50vw;
     --Ypos: 50vh;
}