
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    overflow: hidden;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* height: 100vh; */
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

/* .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  } */

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back{
    /* height: 500px;
    width: 1000px; */
    height: 100%;
    width: 100%;
    padding: 10px;

    background-color: black;

    border-style: solid;
    border-width: 6px;
    
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);

    box-shadow: 0 0 5px 2px;
    position: absolute;

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    backface-visibility: hidden;
}

.arrowsvg{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.back{
    transform: rotateY(180deg);
    pointer-events: auto; /* Enable pointer events on the back face */
}


.logocontainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.logoelements{
    position: absolute;
    top: 50%;
    left: 22.5%;
    bottom: 25%;
    transform: translate(-50%, -50%);
}

.texticons{
    position: relative;
    top: -35%;
    right: -15%;
    transform: translate(50%, -50%);
    height: 100%;
    width: 100%;
}

.aboutme{
    position: absolute;
    word-wrap: break-word;
    white-space: normal;
    font-size: 18px;
    text-align:center;
    /* right: 50%; */
    /* font-family: 'Playfair Display'; */
    font-family: 'Lato';
    width: 250px;
    height: 500px;
    line-height: 30px;
}

.linkedin{
    position: absolute;
    bottom: 18%;
    left: -20%
}

.git{
    position: absolute;
    bottom: 18%;
    left: -10%
}