p {
    color: white;
}

p.name{
    font-family: 'Parisienne', cursive;
    font-size: 55px; 
}

.bottomline{
    border-bottom: 2px solid white;
}

p.goal{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}
